.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
    height: 100vh;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}
.aboutImg{
    max-width: 30%;
    margin-top: 60px;
    height: auto;
    margin-bottom: 60px;
}
.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: rgb(183, 210, 245); /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.aboutTextBox{
    /*margin-bottom: 200px;*/
}

.aboutText {

    line-height: 1.6; /* 텍스트의 줄 간격 */
    font-size: 16px; /* 텍스트 크기 */
    color: #565b61; /* 텍스트 색상 */
    max-width: 40%; /* 텍스트 박스의 최대 너비 */
    margin: 10px auto; /* 상단 여백, 좌우 자동 여백으로 가운데 정렬 */
    /*padding: 10px 0; !* 상하 여백, 좌우 여백 없음 *!*/
    text-align: start; /* 텍스트를 가운데 정렬 */

}


.space2 {
    display: inline-block; /* 스페이서로 사용 */
    width: 1em; /* 여백 크기 (단어 사이의 간격 조절) */
}

