.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: rgb(183, 210, 245); /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.announcement-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 40px auto;
    margin-bottom: 100px;
}

.announcement-table th,
.announcement-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.announcement-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.announcement-table tr:hover {
    background-color: #f9f9f9;
}

.announcement-table td {
    font-size: 16px;
}

.announcement-table td a {
    color: #007bff;
    text-decoration: none;
}

.announcement-table td a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 90px;

}


/* styles.css */
.status.approved {
    color: blue;
    font-weight: bold;
}

.status.rejected {
    color: red;
    font-weight: bold;
}


.pagination-button {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    margin: 0 5px;
    /*background-color: #ffffff;*/
    cursor: pointer;
    font-size: 13px;
    color: #6c757d;
}

.pagination-button.active {
    /*background-color: #c6e1fb;*/
    color: #fff;
    border: none;
}

.pagination-button:hover {
    background-color: #e2e6ea;
}
.write-container{

    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬을 기본으로 함 */
    align-items: center;
    margin-bottom: -25px;
    margin-top: 40px;
    margin-left: 75%;

}
.write-button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(232, 232, 232);
    color: #888888;
    border: none;
    border-radius: 8px;
    cursor: pointer;



}
.write-button:hover {
    background-color: rgb(53, 53, 53);
    color: #e8e8e8;
}

.comment-section {
    margin-top: 80px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.comment-item {
    padding: 10px 100px;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: #555;
    display: flex;
}

.comment-item strong {
    margin-right: 10px;
    color: #333;
}

.approval-approved {
    color: #007bff; /* Blue for approved */
    font-weight: bold;
}

.approval-denied {
    color: #dc3545; /* Red for denied */
}
