.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;

}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.signinlogo{
    margin-top:30px;
    width: 160px;
    height: auto;
    margin-bottom: 30px;
}



.pw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    margin-top: 50px;
}

.pw-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 각 행 간 간격 */
}

.pw-info {
    width: 110px; /* 라벨의 고정 너비 설정 */
    text-align: right;
    margin-right: 10px;
    color: #6c757d;
}

.pw-input {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.pw-input2 {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #dadada;
}

.pw-num {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 130px;
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.pw-succ{
    color: #6aaa7d;
}
.pw-change{
    width: 200px;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pw-change:hover{
    color: rgba(251, 251, 251, 0.82);
    background-color:#636363;
}
