.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;

}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.rental-subTitle {
    color: #565b61;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;

}

.rental-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로축(수평) 가운데 정렬 */
    justify-content: center; /* 세로축(수직) 가운데 정렬 */
    text-align: center;
}

.rental-box {
    width: 40%;
    height: 680px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.rental-button{
    max-width: 30%;
    align-content: center;
    justify-content: center;
    padding-left: 35%;
    padding-top: 10px;
    padding-bottom: 100px;
}

.rental-button li{
    margin: 30px 5px;
    text-decoration: none;
    background-color: #282c34;
    border-radius: 6px;
    list-style-type: none;
    padding: 20px 40px;
    margin-bottom: 50px;
}

.rental-button li:hover{
    background-color: #e8e8e8;
    cursor: pointer;
    a {
        color: #282c34;
    }
}
.rental-button a{
    text-decoration: none;
    color:#e8e8e8;
}

#retal-title{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 100px;
}
.tableSeparator{
   width: 300px;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
    margin-bottom: 30px;
}
.rentalImg{
    width: 450px;
    height: 550px;
    margin-right: 10px;
}

.rental-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    margin-top: 50px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rental-button:hover {
    background-color: #a7c898; /* 호버 시 색상 변경 */
}

