.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: rgb(183, 210, 245); /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.signinlogo{
    margin-top:30px;
    width: 160px;
    height: auto;
    margin-bottom: 30px;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin:10px auto;
    margin-top: 20px;
}

/* 입력 필드 스타일 */
.signin-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Sign-in 버튼 스타일 */
.signin-button {
    width: 323px;
    padding: 10px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #c6e1fb;
}
.findpw{
    margin-bottom: 100px;
    margin-top: 100px;

}
.findpw a {
    margin: 0 10px;
    text-decoration: none;
    color: #636363;
}

.findpw a:hover {
    color: #0056b3; /* 마우스 오버 시 색상 변경 */
}
.space {
    margin: 0 5px;
    color: #6c757d;
}
