@import '../styles.css';

.bylaw-button {
    padding: var(--spacing-sm) 100px;
    font-size: var(--font-base);
    font-weight: normal;
    background-color: rgba(218, 218, 218, 0.37);
    color: var(--text-primary);
    border: none;
    margin: 6px 2px;
    cursor: pointer;
    transition: var(--transition-normal);
}

.bylaw-button:hover {
    background-color: var(--secondary-color);
    color: var(--text-primary);
}

.bylaw-button.active {
    background-color: var(--secondary-color);
    color: var(--text-primary);
}

.post-detail {
    max-width: 800px;
    margin: var(--spacing-lg) auto;
    padding: var(--spacing-lg);
}

.post-detail .post-title {
    font-size: var(--font-xl);
    margin-bottom: var(--spacing-lg);
}

.post-attachment {
    margin-top: var(--spacing-lg);
    font-size: var(--font-base);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}

.post-attachment strong {
    justify-content: center;
    margin-top: var(--spacing-xl);
    font-weight: bold;
    color: var(--text-secondary);
}

.post-attachment a {
    justify-content: center;
    margin-top: var(--spacing-xl);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.post-attachment a:hover {
    color: var(--text-primary);
}

.post-attachment span {
    color: var(--text-muted);
    margin-top: var(--spacing-xl);
    font-style: italic;
}