.breadcrumb {
    padding: 10px 50px;
    font-size: 14px;
    border-bottom: 1px solid #a7c898;
    margin-top: 119px;
}

.breadcrumb ul {
    list-style: none;
    padding-top: 15px;
    margin: 0;
    display: flex;
    color: #636363;
}

.breadcrumb li {
    margin-right: 5px;
    color: #636363;
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    text-decoration: none;
    color: #636363;
}

.breadcrumb li a:hover {
    color: #4a7c59;
    text-decoration: underline;
}

.breadcrumb li::after {
    content: '>';
    margin-left: 5px;
    font-size: 12px;
    color: #a0a0a0; /* 흐린 색 */
}

.breadcrumb li:last-child::after {
    content: '';
}

.breadcrumb-item.active {
    background: none !important;
    border: none !important;
    padding: 0;
    font-weight: bold; /* 마지막 요소 강조 */
    color: #4a7c59; /* 마지막 요소 색상 변경 (선택 사항) */
}

@media screen and (max-width: 768px) {
    .breadcrumb {
        padding: 10px 20px;
        font-size: 12px;
    }

    .breadcrumb li::after {
        margin-left: 5px;
        font-size: 10px;
    }
}
