.footer {
    background-color: #a7c898;
    padding: 30px 20px;
    border-top: 1px solid #e9ecef;
    height: auto;
    position: relative;
    transform: translateY(0);
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center;
    text-align: left;
    width: 60%; /* 최대 너비 설정 */
    max-width: 1200px; /* 원하는 최대 크기 */
    margin: 0 auto;
    color: #e2e6ea;
}

.mainleft {
    display: flex;
    flex-direction: column;
    /*padding-left: 20%;*/
    align-items: flex-start; /* 왼쪽 정렬 */
    text-align: left;
    margin-right: auto; /* 왼쪽 정렬 유지 */
}

.mainright {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 오른쪽 정렬 */
    text-align: right;
    /*padding-right: 20%;*/
    /*margin-left: auto; !* 오른쪽 정렬 유지 *!*/
}

.main_logo {
    color: white;
    display: flex;
    flex-direction: column;
}

.column {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.mainleft img {
    height: 100px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.infotext {
    font-size: 14px;
    color: #f8f9fa;
}

.infotext a {
    color: #f8f9fa;
    text-decoration: none;
}
.developer a{
    color: #f8f9fa;
    text-decoration: none;
}

.address, .developer, .copyright {
    font-size: 12px;
    text-align: left;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mainleft {
        margin: 0;
        /*padding: 0;*/
    }

    .mainright {
        align-items: center;
        text-align: center;
    }

    .info {
        flex-direction: column;
    }

    .infotext, .address, .developer, .copyright {
        font-size: 12px;
    }
}
