.context {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 80px auto 0;
    max-width: 1000px;
    text-align: center;
}

.contextTitle {
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none;
    height: 2px;
    background-color: #a7c898;
    margin: 15px auto;
}

.acentia-record {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.acentia-record th,
.acentia-record td {
    padding: 15px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.acentia-record thead {
    background-color: #a7c898;
    color: #1c1c1c;
}