.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: rgb(183, 210, 245); /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.audit-container{
     max-width: 30%;
     align-content: center;
     justify-content: center;
     padding-left: 35%;
     padding-top: 50px;
     padding-bottom: 100px;
 }

.audit-container li{
    margin: 30px;
    text-decoration: none;
    background-color: #282c34;
    border-radius: 6px;
    list-style-type: none;
    padding: 30px;
    margin-bottom: 50px;
}

.audit-container li:hover{
    background-color: #e8e8e8;
    a {
        color: #282c34;
    }
}
.audit-container a{
    text-decoration: none;
    color:#e8e8e8;
}



