.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.search-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬을 기본으로 함 */
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 60%;


}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #a7c898;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {

    padding: 10px 20px;
    font-size: 14px;
    background-color:  rgb(53, 53, 53);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color:  #a7c898;
}
.contentSeparator{
    max-width: 60%;
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
    margin-bottom: 40px;
}

/* 게시글 박스 배치 */
.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 가로로 3개씩 배치 */
    gap: 1px; /* 박스 간격 */
    justify-items: center;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
}

/* 게시글 박스 디자인 */
.post-box {
    width: 250px; /* 박스의 너비 */
    height: 350px; /* 박스의 높이 */
    overflow: hidden;
    text-align: center;

}

/* 게시글 이미지 */
.post-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* 게시글 제목 */
.post-title {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* 게시글 작성 날짜 */
.post-date {
    color: #888;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 0;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 90px;

}

.pagination-button {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    color: #6c757d;
}

.pagination-button.active {
    background-color: #a7c898;
    color: #fff;
    border: none;
}

.pagination-button:hover {
    background-color: #e2e6ea;
}