.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.greeting {
    color: white;
    font-size: 14px;
}

.login-button,
.logout-button {
    background-color: #303030;
    color: #ededed;
    font-weight: 300;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
}

.login-button:hover,
.logout-button:hover {
    background-color: #ededed;
    color: #303030;
}
