.context{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.contextTitle{
    font-size: 25px;
    font-weight: bolder;
}

.titleSeparator {
    max-width: 30%;
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 */
    background-color: #a7c898; /* 선의 색상 */
    margin-top: 15px; /* 제목과 선 사이의 여백 */
}
.contentSeparatorBox{
    max-width: 60%;
    height: 50px;
    border: none;
    background-color: rgba(183, 210, 245, 0.75);
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
}

.announcement-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 40px auto;
    margin-bottom: 100px;
}

.announcement-table th,
.announcement-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.announcement-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.announcement-table tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.announcement-table td {
    font-size: 16px;
}

.announcement-table td a {
    color: #6aaa7d;
    text-decoration: none;
}

.announcement-table td a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 90px;

}

.pagination-button {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    margin: 0 5px;
    /*background-color: #ffffff;*/
    cursor: pointer;
    font-size: 13px;
    color: #6c757d;
}

.pagination-button.active {
    /*background-color: #c6e1fb;*/
    color: #fff;
    border: none;
}

.pagination-button:hover {
    background-color: #e2e6ea;
}
.write-container{

        display: flex;
        justify-content: flex-start; /* 왼쪽 정렬을 기본으로 함 */
        align-items: center;
        margin-bottom: 5px;
        margin-top: 40px;
        margin-left: 70%;

}

.write-button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.write-button:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}